/* SIZES */
/* COLORS */
/* SET CORE ROOT DEFAULTS */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  overflow-x: hidden;
  color: #232222;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style-type: none;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
}

img,
picture {
  vertical-align: top;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

img:not([alt]) {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/* REUSABLE ROOT CLASSES */
.container {
  max-width: 123rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  outline: 1px solid red;
}

.aligner {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #001e64;
}

.bold {
  font-weight: bold;
}

.btn {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 1.4rem 8.8rem;
  text-transform: uppercase;
  border-radius: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.none {
  display: none;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.header__content {
  min-height: calc(100vh - 16.5rem);
  background-image: url(../images//header-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  margin-top: -8rem;
}

.header__title {
  max-width: 58.9rem;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 9.5rem;
  padding-top: 17rem;
  padding-left: 11.2rem;
  margin-bottom: 6rem;
  color: #001e64;
}

.header__content-btn {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  margin-left: 11.2rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

.header__content-btn:hover {
  background-color: white;
  color: #001e64;
}

.header__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #fff;
}

.header__content-link--active {
  font-weight: 700;
}

.header-slider {
  max-width: 52.2rem;
  padding-top: 5.7rem;
  padding-left: 11.2rem;
  padding-bottom: 13.5rem;
}

.header-slider__text {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  color: #fff;
}

.header-slider .slick-prev,
.header-slider .slick-next {
  background-color: transparent;
  padding: 0;
  position: absolute;
  left: 4rem;
}

.header-slider .slick-prev {
  top: 0;
}

.header-slider .slick-next {
  bottom: 0;
}

.header-slider .slick-dots {
  position: absolute;
  top: 5.4rem;
  left: 3.5rem;
  bottom: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-slider .slick-dots button {
  color: #fff;
  font-size: 2.4rem;
  line-height: 2.8rem;
  opacity: 0.5;
}

.header-slider .slick-dots button::before {
  content: '0';
}

.header-slider .slick-dots li:nth-child(n + 10) button::before {
  content: '';
}

.header-slider .slick-active button {
  opacity: 1;
}

.menu {
  margin-top: 1.6rem;
}

.menu__btn {
  position: relative;
  width: 4rem;
  padding: 1.3rem 0;
  display: none;
  z-index: 9;
}

.menu__btn::after, .menu__btn::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 0.3rem;
  background-color: #001e64;
}

.menu__btn::after {
  bottom: 0;
}

.menu__btn::before {
  top: 0;
}

.menu__btn span {
  display: block;
  height: 0.3rem;
  background-color: #001e64;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 3rem;
}

.menu__link {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #001e64;
}

.menu__link:hover {
  border-bottom: 1px solid #001e64;
}

.phone {
  margin-right: 2.8rem;
  margin-top: 0.6rem;
  padding-left: 2rem;
}

/* PRODUCT SECTON */
.product {
  padding-top: 10rem;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__name {
  width: 51rem;
  padding-top: 2rem;
}

.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product__name-item {
  line-height: 3.2rem;
  cursor: pointer;
}

.product__name-item.slick-current {
  font-size: 3.6rem;
  font-weight: 700;
}

.product__name-item + .product__name-item {
  margin-top: 3rem;
}

.product__content {
  max-width: 60rem;
}

.product__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.product__content-list {
  max-width: 29rem;
}

.product__content-item {
  margin-bottom: 3rem;
}

.product__content-item span {
  display: block;
}

.product__content-title {
  padding-top: 1rem;
  margin-bottom: 2rem;
  line-height: 3.2rem;
}

.product__content-text {
  margin-bottom: 2.6rem;
}

.product__content-btn {
  border: 1px solid #001e64;
}

.product__content-btn:hover {
  background-color: #001e64;
  color: #fff;
}

/* SEAFOOD SECTION */
.seafood {
  padding: 29rem 0 10rem;
  background-image: url(../images/water.jpg);
  background-position: top center;
}

.seafood__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  font-weight: 700;
  line-height: 2.4rem;
}

.seafood__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 18rem;
  min-height: 16.5rem;
  background-image: url(../images/svg/shell.svg);
  background-position: center;
  stroke: 0.15;
}

/* SUMMARY SECTION */
.summary {
  padding: 10rem 0;
}

.summary__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.summary__item:last-child {
  margin-bottom: 10rem;
}

.summary__item--left .summary__item-content {
  margin-right: 18rem;
}

.summary__item--left .summary__item-title {
  max-width: 42rem;
}

.summary__item-title {
  max-width: 49rem;
  margin-bottom: 3rem;
  line-height: 2.9rem;
}

.summary__item-text {
  max-width: 42rem;
  line-height: 1.9rem;
}

.summary__item-text + .summary__item-text,
.summary__item-text + .summary__item-title {
  margin-top: 2.5rem;
}

.summary__blockquote {
  max-width: 80rem;
}

.summary__blockquote-text {
  max-width: 53rem;
  line-height: 2.4rem;
}

/* CONTACTS SECTION */
.contacts {
  background-image: url(../images/norge.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.contacts__box {
  max-width: 39rem;
  margin-left: auto;
  padding: 3rem 1.5rem 3rem 2rem;
  background-color: #fff;
}

.contacts__box-title + .contacts__box-list {
  margin-top: 3rem;
}

.contacts__box-title {
  width: 19.5rem;
  line-height: 2.4rem;
}

.contacts__box-list {
  line-height: 2.1rem;
}

.contacts__box-item:not(:first-child) {
  margin-top: 3rem;
}

.contacts__box-item span {
  display: block;
}

/* COMMON CLASSES */
.product__name-item,
.product__content-title,
.summary__item-title {
  font-size: 2.4rem;
}

.product__content-item span,
.seafood__items,
.summary__blockquote-text,
.contacts__box {
  font-size: 1.8rem;
}

.product__name-item.slick-current,
.product__content-title,
.product__content-btn,
.product__content-item span,
.summary__item-title,
.contacts__box-title {
  color: #001e64;
}

.product__name-item,
.seafood__items,
.summary__item-title {
  font-family: 'Roboto Slab', sans-serif;
}

.seafood,
.seafood__item {
  background-repeat: no-repeat;
  background-size: cover;
}

.summary__blockquote,
.summary__blockquote-text {
  margin: 0 auto;
}

.footer {
  padding: 3rem 0 10rem;
  /* COMMON CLASSES */
}

.footer__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 2.3rem;
}

.footer__inner .menu {
  margin-top: 0;
  padding-bottom: 3rem;
}

.footer-social__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.footer-social__item:not(:last-child) {
  margin-right: 3rem;
}

.footer-social__link path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.footer-social__link:hover path {
  fill: #001e64;
}

.footer__inner, .footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1250px) {
  .product__name {
    width: 35rem;
  }
  .footer {
    padding-bottom: 3rem;
  }
  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-social__list {
    padding-bottom: 0;
  }
  .footer .menu,
  .footer .logo {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .summary__item-content {
    padding-right: 2rem;
  }
  .summary__item--left .summary__item-content {
    padding-right: 0;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    margin-left: auto;
  }
  .menu__btn {
    display: block;
    margin-top: -0.2rem;
  }
  .menu__list {
    display: block;
    position: absolute;
    left: 20%;
    right: 20%;
    top: -35rem;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 3;
  }
  .menu__list.menu__list--active {
    top: 6.5rem;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__link {
    display: block;
    padding: 2rem 0;
    text-align: center;
  }
  .menu__link:hover {
    border: none;
  }
  .phone {
    padding-left: 1rem;
    margin-right: 0;
  }
  .product__inner {
    display: block;
  }
  .product__name {
    width: 100%;
    padding-top: 0;
  }
  .product__name .slick-dots {
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__name .slick-dots button {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    font-size: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #c4c4c4;
  }
  .product__name .slick-active button {
    background-color: #001e64;
  }
  .product__content {
    margin: 0 auto;
  }
  .product__content-box {
    margin-top: 3rem;
  }
  .product__name-item.slick-current {
    line-height: 4.4rem;
  }
  .product__name-item + .product__name-item {
    margin: 0 0 5rem;
  }
  .summary img {
    max-width: 100%;
  }
  .summary__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2.5rem;
  }
  .summary__item img {
    margin-top: 2.5rem;
  }
  .summary__item--left {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .summary__item-content {
    padding-right: 0;
  }
  .summary__item--left .summary__item-content {
    padding-left: 0;
    margin-right: 0;
  }
  .summary__item-title, .summary__item-text {
    max-width: 100%;
  }
  .contacts__box {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .header__title {
    max-width: 100%;
    font-size: 5rem;
    line-height: 7rem;
    padding-left: 0;
    text-align: center;
  }
  .product {
    padding-bottom: 10rem;
  }
  .product__content {
    width: 100%;
  }
  .product__content-box {
    display: block;
  }
  .product__content-list {
    width: 100%;
  }
  .seafood {
    display: none;
  }
  .summary {
    padding-top: 0;
    padding-bottom: 5rem;
  }
  .summary__item:last-child {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .header-slider {
    padding-left: 4rem;
  }
  .header__content-btn {
    margin-left: 4rem;
  }
  .header .slick-prev,
  .header .slick-next,
  .header .slick-dots {
    left: 0;
  }
  .header .menu__list {
    left: 10%;
    right: 10%;
  }
  .header .logo__img {
    width: 75%;
  }
  .header .btn {
    padding: 1.4rem 7.8rem;
  }
  .product {
    padding-top: 5rem;
  }
  .product__content-btn {
    padding: 1.4rem 6.8rem;
  }
  .contacts__box {
    max-width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .header__title {
    padding-top: 12.5rem;
  }
  .header-slider {
    padding-top: 0;
    padding-left: 0;
    text-align: center;
  }
  .header__content-btn {
    margin-left: 0;
  }
}
