/* SIZES */
/* COLORS */
/* SET CORE ROOT DEFAULTS */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  overflow-x: hidden;
  color: #232222;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style-type: none;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
}

img,
picture {
  vertical-align: top;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

img:not([alt]) {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/* REUSABLE ROOT CLASSES */
.container {
  max-width: 123rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.aligner {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #001e64;
}

.bold {
  font-weight: bold;
}

.btn {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  padding: 1.4rem 8.8rem;
  text-transform: uppercase;
  border-radius: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

.header__content {
  min-height: calc(100vh - 7rem);
  background-image: url(../images//header-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  margin-top: -8rem;
}

.header__title {
  max-width: 58.9rem;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 9.5rem;
  padding-top: 17rem;
  padding-left: 11.2rem;
  margin-bottom: 6rem;
  color: #001e64;
}

.header__content-btn {
  position: absolute;
  display: inline-block;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  margin-left: 11.2rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

.header__content-btn:hover {
  background-color: white;
  color: #001e64;
}

.header__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100%;
  margin-right: 3rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #fff;
}

.header__content-link--active {
  font-weight: 700;
}

.header-slider {
  max-width: 52.2rem;
  padding-top: 5.7rem;
  padding-left: 11.2rem;
  padding-bottom: 13.5rem;
}

.header-slider__text {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  color: #fff;
}

.header-slider .slick-prev,
.header-slider .slick-next {
  background-color: transparent;
  padding: 0;
  position: absolute;
  left: 4rem;
}

.header-slider .slick-prev {
  top: 0;
}

.header-slider .slick-next {
  bottom: 0;
}

.header-slider .slick-dots {
  position: absolute;
  top: 5.4rem;
  left: 3.5rem;
  bottom: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-slider .slick-dots button {
  color: #fff;
  font-size: 2.4rem;
  line-height: 2.8rem;
  opacity: 0.5;
}

.header-slider .slick-dots button::before {
  content: '0';
}

.header-slider .slick-dots li:nth-child(n + 10) button::before {
  content: '';
}

.header-slider .slick-active button {
  opacity: 1;
}

.menu {
  margin-top: 1.6rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 3rem;
}

.menu__link {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #001e64;
}

.menu__link:hover {
  border-bottom: 1px solid #001e64;
}

.phone {
  margin-right: 2.8rem;
  margin-top: 1.1rem;
}

.main {
  /* PRODUCT SECTON */
  /* SEAFOOD SECTION */
  /* SUMMARY SECTION */
  /* CONTACTS SECTION */
  /* COMMON CLASSES */
}

.main .product {
  padding-top: 10rem;
}

.main .product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .product__name {
  width: 51rem;
  padding-top: 2rem;
}

.main .product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .product__name-item {
  line-height: 3.2rem;
  cursor: pointer;
}

.main .product__name-item.slick-current {
  font-size: 3.6rem;
  font-weight: 700;
}

.main .product__name-item + .product__name-item {
  margin-top: 3rem;
}

.main .product__content {
  max-width: 60rem;
}

.main .product__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.main .product__content-list {
  max-width: 29rem;
}

.main .product__content-item {
  margin-bottom: 3rem;
}

.main .product__content-item span {
  display: block;
}

.main .product__content-title {
  padding-top: 1rem;
  margin-bottom: 2rem;
  line-height: 3.2rem;
}

.main .product__content-text {
  margin-bottom: 2.6rem;
}

.main .product__content-btn {
  border: 1px solid #001e64;
}

.main .product__content-btn:hover {
  background-color: #001e64;
  color: #fff;
}

.main .seafood {
  padding: 29rem 0 10rem;
  background-image: url(../images/water.jpg);
  background-position: top center;
}

.main .seafood__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  font-weight: 700;
  line-height: 2.4rem;
}

.main .seafood__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 18rem;
  min-height: 16.5rem;
  background-image: url(../images/svg/shell.svg);
  background-position: center;
  stroke: 0.15;
}

.main .summary {
  padding: 10rem 0;
}

.main .summary__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.main .summary__item:last-child {
  margin-bottom: 10rem;
}

.main .summary__item--left .summary__item-content {
  margin-right: 18rem;
}

.main .summary__item--left .summary__item-title {
  max-width: 42rem;
}

.main .summary__item-title {
  max-width: 49rem;
  margin-bottom: 3rem;
  line-height: 2.9rem;
}

.main .summary__item-text {
  max-width: 42rem;
  line-height: 1.9rem;
}

.main .summary__item-text + .summary__item-text,
.main .summary__item-text + .summary__item-title {
  margin-top: 2.5rem;
}

.main .summary__blockquote {
  max-width: 80rem;
}

.main .summary__blockquote-text {
  max-width: 53rem;
  line-height: 2.4rem;
}

.main .contacts {
  background-image: url(../images/norge.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.main .contacts__box {
  max-width: 39rem;
  margin-left: auto;
  padding: 3rem 0 3rem 2rem;
  background-color: #fff;
}

.main .contacts__box-title + .contacts__box-list {
  margin-top: 3rem;
}

.main .contacts__box-title {
  width: 19.5rem;
  line-height: 2.4rem;
}

.main .contacts__box-list {
  line-height: 2.1rem;
}

.main .contacts__box-item:not(:first-child) {
  margin-top: 3rem;
}

.main .contacts__box-item span {
  display: block;
}

.main .product__name-item,
.main .product__content-title,
.main .summary__item-title {
  font-size: 2.4rem;
}

.main .product__content-item span,
.main .seafood__items,
.main .summary__blockquote-text,
.main .contacts__box {
  font-size: 1.8rem;
}

.main .product__name-item.slick-current,
.main .product__content-title,
.main .product__content-btn,
.main .product__content-item span,
.main .summary__item-title,
.main .contacts__box-title {
  color: #001e64;
}

.main .product__name-item,
.main .seafood__items,
.main .summary__item-title {
  font-family: 'Roboto Slab', sans-serif;
}

.main .seafood,
.main .seafood__item {
  background-repeat: no-repeat;
  background-size: cover;
}

.main .summary__blockquote,
.main .summary__blockquote-text {
  margin: 0 auto;
}

.footer {
  padding: 3rem 0 10rem;
  /* COMMON CLASSES */
}

.footer__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 2.3rem;
}

.footer__inner .menu {
  margin-top: 0;
  padding-bottom: 3rem;
}

.footer-social__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.footer-social__item:not(:last-child) {
  margin-right: 3rem;
}

.footer-social__link path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.footer-social__link:hover path {
  fill: #001e64;
}

.footer__inner, .footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1700px) {
  .main__bg {
    right: 9%;
  }
}

@media screen and (max-width: 1440px) {
  .main__bg {
    right: 3%;
  }
}

@media screen and (max-width: 1366px) {
  .separator::before {
    right: 60%;
  }
  .separator::after {
    left: 60%;
  }
  .main__bg {
    right: 0;
  }
}

@media screen and (max-width: 1270px) {
  .wrapper {
    max-width: 80.4rem;
  }
  .separator svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .main__img {
    width: 66rem;
  }
  .main__cat {
    top: -21rem;
    left: 3rem;
  }
  .main {
    padding-bottom: 12rem;
  }
  .main .promise__img {
    max-width: 85%;
  }
  .main .main__title {
    font-size: 64px;
    line-height: 77px;
  }
  .main .main__about {
    font-size: 14px;
    line-height: 16px;
  }
  .main .main__goal {
    font-size: 14px;
    line-height: 140%;
  }
  .main .main__text {
    font-size: 20px;
    line-height: 24px;
  }
  .help__article {
    width: 15rem;
  }
  .help__link {
    width: 11rem;
    height: 11rem;
    margin: 0 auto;
  }
  .help__link img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .help__link .help__fix {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .ward__options {
    max-width: 61.8rem;
  }
  .ward__option {
    width: 46%;
  }
  .ward-option__title {
    font-size: 2.4rem;
  }
  .ward-option__title--margin {
    margin-bottom: 4.4rem;
  }
  .registry-contact__text {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .need__title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1140px) {
  .separator::before {
    right: 62%;
  }
  .separator::after {
    left: 62%;
  }
  .main__img {
    width: 58rem;
  }
  .main__cat {
    top: -20rem;
    left: 0;
  }
  .main {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .separator svg {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .cards .card {
    margin: 0 auto;
  }
  .main__img {
    max-width: 50.4rem;
    height: 56.4rem;
  }
  .main__cat {
    width: 80%;
    top: -19rem;
    left: 1rem;
  }
  .wrapper {
    max-width: 83.4rem;
  }
  .wrapper .promise__img {
    max-width: 70%;
  }
  .summary__img {
    max-width: 32.2rem;
  }
  .summary__img::before {
    min-height: 322px;
  }
  .summary__img img {
    border-width: 1.8rem;
  }
  .summary__img .summary__dog {
    max-width: 32.2rem;
  }
  .summary__img .summary__cat {
    max-width: 15.8rem;
    top: 18rem;
    border-width: 0.6rem;
  }
  .summary__title {
    font-size: 24px;
    line-height: 120%;
  }
  .wrapper {
    width: 47.2rem;
  }
  .help__images {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .help__article {
    width: 14rem;
    padding: 0;
    margin-bottom: 3.2rem;
  }
  .help__text {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .ward-option__title {
    font-size: 2rem;
  }
  .ward-option__text {
    font-size: 1.4rem;
  }
  .registry__contact .stage {
    max-width: 50rem;
  }
  .registry-contact__text {
    font-size: 1.4rem;
  }
  .finance__title,
  .finance__subtitle {
    font-size: 2rem;
  }
  .finance__text {
    max-width: 38.5rem;
  }
  .need__title,
  .autohelp__title {
    font-size: 2rem;
  }
  .autohelp__text {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .separator::before {
    right: 66%;
  }
  .separator::after {
    left: 66%;
  }
  .cards .card {
    max-width: 30rem;
  }
  .action,
  .action--gold {
    font-size: 1.8rem;
  }
  .nav__link {
    display: none;
  }
  .help__link {
    width: 8rem;
    height: 8rem;
  }
  .help__link img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .help__link .help__fix {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  .ward__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ward-option + .ward-option {
    margin-top: 3.2rem;
  }
  .ward-option {
    width: 100%;
  }
  .ward-option__title {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .registry__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registry-contact__text {
    margin-right: 0;
    margin-bottom: 0.6rem;
  }
  .finance__inner {
    max-width: 38.2rem;
  }
  .finance__block {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .finance__account {
    margin-bottom: 3.2rem;
  }
  .finance__title,
  .finance__subtitle,
  .finance__address {
    margin-bottom: 1.6rem;
  }
  .finance__boxes,
  .finance__address {
    font-size: 1.4rem;
  }
  .finance-btn__inner,
  .autohelp-btn__inner,
  .need-btn__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .need__title,
  .autohelp__title {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  .autohelp__title {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    width: 95%;
  }
  .separator::before {
    right: 69%;
  }
  .separator::after {
    left: 69%;
  }
  .help__article {
    width: 16rem;
  }
  .finance__text {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
}
