@media screen and (max-width: 1250px) {
	.product {
		&__name {
			width: 35rem;
		}
	}
	.footer {
		padding-bottom: 3rem;
		&__inner {
			justify-content: center;
		}
		&-social__list {
			padding-bottom: 0;
		}
		.menu,
		.logo {
			display: none;
		}
	}
}

@media screen and (max-width: 1140px) {
	.summary {
		&__item-content {
			padding-right: 2rem;
		}
		&__item--left .summary__item-content {
			padding-right: 0;
			padding-left: 2rem;
		}
	}
}

@media screen and (max-width: 1024px) {
	.menu {
		margin-left: auto;
		&__btn {
			display: block;
			margin-top: -0.2rem;
		}
		&__list {
			display: block;
			position: absolute;
			left: 20%;
			right: 20%;
			top: -35rem;
			background-color: $white;
			transition: all 0.5s;
			z-index: 3;
		}
		&__list.menu__list--active {
			top: 6.5rem;
		}
		&__item:not(:last-child) {
			margin-right: 0;
		}
		&__link {
			display: block;
			padding: 2rem 0;
			text-align: center;
			&:hover {
				border: none;
			}
		}
	}
	.phone {
		padding-left: 1rem;
		margin-right: 0;
	}
	.product {
		&__inner {
			display: block;
		}
		&__name {
			width: 100%;
			padding-top: 0;
		}
		&__name .slick-dots {
			left: 0;
			right: 0;
			display: flex;
			flex-direction: row;
			justify-content: center;
			button {
				width: 1rem;
				height: 1rem;
				margin: 0 0.5rem;
				font-size: 0;
				padding: 0;
				border-radius: 50%;
				background-color: $gray;
			}
		}
		&__name .slick-active button {
			background-color: $accentColor;
		}
		&__content {
			margin: 0 auto;
			&-box {
				margin-top: 3rem;
			}
		}
		&__name-item.slick-current {
			line-height: 4.4rem;
		}
		&__name-item + .product__name-item {
			margin: 0 0 5rem;
		}
	}
	.summary {
		img {
			max-width: 100%;
		}
		&__item {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 2.5rem;
			img {
				margin-top: 2.5rem;
			}
		}
		&__item--left {
			flex-wrap: wrap-reverse;
		}
		&__item-content {
			padding-right: 0;
		}
		&__item--left .summary__item-content {
			padding-left: 0;
			margin-right: 0;
		}
		&__item-title,
		&__item-text {
			max-width: 100%;
		}
	}
	.contacts {
		&__box {
			max-width: 70%;
			margin: 0 auto;
		}
	}
}
@media screen and (max-width: 768px) {
	.header {
		&__title {
			max-width: 100%;
			font-size: 5rem;
			line-height: 7rem;
			padding-left: 0;
			text-align: center;
		}
	}
	.product {
		padding-bottom: 10rem;
		&__content {
			width: 100%;
			&-box {
				display: block;
			}
			&-list {
				width: 100%;
			}
		}
	}
	.seafood {
		display: none;
	}
	.summary {
		padding-top: 0;
		padding-bottom: 5rem;
		&__item:last-child {
			margin-bottom: 5rem;
		}
	}
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
	.header {
		&__title {
			font-size: 3.5rem;
			line-height: 4.5rem;
		}
		&-slider {
			padding-left: 4rem;
		}
		&__content-btn {
			margin-left: 4rem;
		}
		.slick-prev,
		.slick-next,
		.slick-dots {
			left: 0;
		}
		.menu {
			&__list {
				left: 10%;
				right: 10%;
			}
		}
		.logo__img {
			width: 75%;
		}
		.btn {
			padding: 1.4rem 7.8rem;
		}
	}
	.product {
		padding-top: 5rem;
		&__content-btn {
			padding: 1.4rem 6.8rem;
		}
	}
	.contacts {
		&__box {
			max-width: 100%;
		}
	}
}

@media screen and (max-width: 360px) {
	.header {
		&__title {
			padding-top: 12.5rem;
		}
		&-slider {
			padding-top: 0;
			padding-left: 0;
			text-align: center;
		}
		&__content-btn {
			margin-left: 0;
		}
	}
}
