/* SET CORE ROOT DEFAULTS */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: $rootSize;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
}

body {
	font-family: $rootFont;
	font-weight: 400;
	font-size: $fontSize16;
	overflow-x: hidden;
	color: $mainColor;
}

h1,
h2,
h3,
h4 {
	font-weight: inherit;
}

ul,
ol,
li {
	list-style-type: none;
}

a,
button {
	color: inherit;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

input,
textarea,
select {
	font: inherit;
}

img,
picture {
	// ! removes bottom indent
	vertical-align: top;
	height: auto;
	object-fit: cover;
}

img:not([alt]) {
	filter: blur(5px);
}

/* REUSABLE ROOT CLASSES */
.container {
	max-width: 123rem;
	padding: 0 1.5rem;
	margin: 0 auto;
}

.aligner {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.title {
	font-size: $fontSize24;
	line-height: 2.8rem;
	color: $accentColor;
}

.bold {
	font-weight: bold;
}

.btn {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 700;
	font-size: $fontSize24;
	line-height: 3.2rem;
	padding: 1.4rem 8.8rem;
	text-transform: uppercase;
	border-radius: 2rem;
	transition: all 0.3s;
}
