/* SIZES */
$rootSize: 10px;
// $rootFont: 'Roboto', sans-serif;
$rootFont: 'Roboto', sans-serif;
$fontSize14: 1.4rem;
$fontSize16: 1.6rem;
$fontSize18: 1.8rem;
$fontSize24: 2.4rem;
$fontSize40: 4rem;
// $bd-radius: 3.7rem;

/* COLORS */
$accentColor: #001e64;
$white: #fff;
$mainColor: #000;
$gray: #c4c4c4;
